@media screen and (max-width: 320px) {
  .repeating {
    font-size: 2.2vh;
    left: -0.3rem;
  }
  .repeating_right {
    font-size: 2.2vh;
    right: -0.3rem;
  }
}

@media screen and (max-width: 768px) {
  .repeating {
    font-size: 4.2vh;
    opacity: 0.3;
    left: 0.8rem;
  }
  .repeating_right {
    font-size: 4.2vh;
    opacity: 0.3;
    right: 0.8rem;
  }
}

@media screen and (max-width: 1440px) {
  .repeating {
    font-size: 8.2vh;
    left: 0.8rem;
  }
  .repeating_right {
    font-size: 8.2vh;
    right: 0.8rem;
  }
}

.repeating {
  left: -1.6rem;
}

.repeating_right {
  right: -1.6rem;
}

.repeating,
.repeating_right {
  color: #fbfbfb;
  position: fixed;
  cursor: default;
  top: 0;
  font-weight: 900;
  font-size: 16.3vh;
  text-transform: uppercase;
  font-style: italic;
  line-height: 1;
  text-shadow: 0 -1em 0 hsla(0, 0%, 98%, 0.5), 0 -2em 0 hsla(0, 0%, 100%, 0.5),
    0 1em 0 hsla(0, 0%, 100%, 0.5), 0 2em 0 hsla(0, 0%, 100%, 0.5),
    0 3em 0 hsla(0, 0%, 100%, 0.5), 0 4em 0 hsla(0, 0%, 100%, 0.5),
    0 5em 0 hsla(0, 0%, 100%, 0.5), 0 6em 0 hsla(0, 0%, 100%, 0.5),
    0 7em 0 hsla(0, 0%, 100%, 0.5), 0 8em 0 hsla(0, 0%, 100%, 0.5),
    0 9em 0 hsla(0, 0%, 100%, 0.5), 0 10em 0 hsla(0, 0%, 100%, 0.5),
    0 11em 0 hsla(0, 0%, 100%, 0.5), 0 12em 0 hsla(0, 0%, 100%, 0.5),
    0 13em 0 hsla(0, 0%, 100%, 0.5), 0 14em 0 hsla(0, 0%, 100%, 0.5),
    0 15em 0 hsla(0, 0%, 100%, 0.5), 0 16em 0 hsla(0, 0%, 100%, 0.5),
    0 17em 0 hsla(0, 0%, 100%, 0.5), 0 18em 0 hsla(0, 0%, 100%, 0.5),
    0 19em 0 hsla(0, 0%, 100%, 0.5), 0 20em 0 hsla(0, 0%, 100%, 0.5),
    0 21em 0 hsla(0, 0%, 100%, 0.5), 0 22em 0 hsla(0, 0%, 100%, 0.5),
    0 23em 0 hsla(0, 0%, 100%, 0.5), 0 24em 0 hsla(0, 0%, 100%, 0.5),
    0 25em 0 hsla(0, 0%, 100%, 0.5), 0 26em 0 hsla(0, 0%, 100%, 0.5),
    0 27em 0 hsla(0, 0%, 100%, 0.5), 0 28em 0 hsla(0, 0%, 100%, 0.5),
    0 29em 0 hsla(0, 0%, 100%, 0.5);
}
